<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Formulário de cadastro de Notícia</title>
		</head>
	<body>

		<h1>Adicionar notícia</h1>
	<form action="/noticias/salvar" method="POST">
			<table>
				<tr>
					<td>Título</td>
					<td><input type="text" id="txtTitulo" name="titulo" placeholder="Título da notícia"></textarea></td>
				<tr>
				<tr>
					<td>Conteúdo da notícia</td>
					<td><textarea id="txtConteudoNoticia" name="noticia" rows="5" cols="30"></textarea></td>
				<tr>
				<tr>
					<td><input type="submit" value="Enviar"></td>
				<tr>
			</table>
	</form>

	</body>
</html>